nav{

display:flex;
justify-content: space-between;
align-items: center;
margin:0  200px;



}

body{


    font-family: 'Open Sans', sans-serif;
}
.nav-title{


    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

nav > ul{

display: flex;
align-items: center;

}
nav li{


    list-style: none;
    margin-right: 50px;
}
nav {

    text-decoration: none;
    color: #181818;}
    
.btn-primary{
    border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
font-size: 20px;

font-weight: 700;
padding: 15px 35px;



}

.header{


    background-color: #FFF8F3;
    background-image: url('header_bg.png');
    background-repeat: no-repeat;
    background-position:bottom  right;  


}
.beanner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;



}

.beanner-greeting{

font-size: 45px;
color: #181818;
margin-bottom: 0;

}

.beanner-title{


    font-size: 50px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}